<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1" />
<title>Formulario</title>
</head>
<body>
	<form action="#" th:action="@{/pet/post}" th:object="${vehiculosend}" method="post">
	<p>Placa: <input type="text" th:field="*{placa}"/></p>
	<p th:if="${#fields.hasErrors('placa')}" th:errors="*{placa}">Placa has Errors</p>
	<p>Cilindraje: <input type="number" th:field="*{cc}"/></p>
	<p th:if="${#fields.hasErrors('cc')}" th:errors="*{cc}">Cilindraje has Errors</p>
	<p><input type="submit" value="Submit"/></p>
	</form>
</body>
</html>